xsd/siri_model/siri_situationClassifiers-v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siri.org.uk/siri" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="siri_classifiers">
 <xsd:annotation>
  <xsd:appinfo>
   <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
    <Aggregation>main schema</Aggregation>
    <Audience>e-service developers</Audience>
    <Contributor>Add names </Contributor>
    <Coverage>Europe</Coverage>
    <Creator>&gt;Drafted for version 1.0 Kizoom Incident Schema Nicholas Knowles, Kizoom. mailto:schemer@kizoom.org.uk</Creator>
    <Date>
     <Created>2008-07-05</Created>
    </Date>
    <Date>
     <Modified>2008-07-05</Modified>
    </Date>
    <Date>
     <Modified>2008-10-01</Modified>
     <!-- Add predictability status -->
    </Date>
    <Description>
     <p>SIRI-SX is an XML schema for the exchange of structured incidents. This subschema describes calssifier codes </p>
    </Description>
    <Format>
     <MediaType>text/xml</MediaType>
     <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
     <Description>XML schema, W3C Recommendation 2001</Description>
    </Format>
    <Identifier>{http://www.siri.org.uk/schema/2.0/xsd/siri_model/}/siri_situationClassifiers-v1.1.xsd</Identifier>
    <Language>[ISO 639-2/B] ENG</Language>
    <Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD</Publisher>
    <Relation>

    </Relation>
    <Rights>Unclassified
         <Copyright>Kizoom 2000-2007, CEN 2009-2012</Copyright>
				</Rights>
    <Source>
     <ul>
      <li>Schema derived Derived from the Kizoom XTIS schema </li>
      <li>Derived from the TPEG Categories schema </li>
     </ul>
    </Source>
    <Status>Version 2.0 Draft</Status>
    <Subject>
     <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport, Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
     <Project>CEN TC278 WG3 SG7</Project>
    </Subject>
    <Title>SIRI-SX Xml Schema for PT Incidents. Classifier subschema</Title>
    <Type>Standard</Type>
   </Metadata>
  </xsd:appinfo>
  <xsd:documentation>SIRI-SX Situation Classifiers.</xsd:documentation>
 </xsd:annotation>
 <!-- ======================================================================= -->
 <!-- ===INCIDENT SEVERITIES================================================== -->
 <xsd:element name="Severity" type="SeverityEnumeration" default="normal">
  <xsd:annotation>
   <xsd:documentation>Severity of Incident. Corresponds to TPEG Pti26 severities. Defautl is 'normal'.</xsd:documentation>
  </xsd:annotation>
 </xsd:element>
 <xsd:simpleType name="SeverityEnumeration">
  <xsd:annotation>
   <xsd:documentation>Values for Severity. Correspond to TPEG Pti26 Severity values.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:NMTOKEN">
   <xsd:enumeration value="pti26_0"/>
   <xsd:enumeration value="unknown">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti26_0: unknown.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti26_1"/>
   <xsd:enumeration value="verySlight">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti26_1: very slight.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti26_2"/>
   <xsd:enumeration value="slight">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti26_2: slight.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti26_3"/>
   <xsd:enumeration value="normal">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti26_3: normal.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti26_4"/>
   <xsd:enumeration value="severe">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti26_4: severe.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti26_5"/>
   <xsd:enumeration value="verySevere">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti26_5: verySevere.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti26_6"/>
   <xsd:enumeration value="noImpact">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti26_6: noImpact.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti26_255"/>
   <xsd:enumeration value="undefined">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti26_255: undefined.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
  </xsd:restriction>
 </xsd:simpleType>
 <!-- ===INCIDENT CONDITIONS================================= -->
 <xsd:element name="Condition" type="ServiceConditionEnumeration">
  <xsd:annotation>
   <xsd:documentation>Classification of effect on service. TPEG Pti13 Service Condition values.</xsd:documentation>
  </xsd:annotation>
 </xsd:element>
 <xsd:simpleType name="ServiceConditionEnumeration">
  <xsd:annotation>
   <xsd:documentation>Values for Service Condition. Corresponds to TPEG Pti13 Service Condition values.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:NMTOKEN">
   <xsd:enumeration value="pti13_0"/>
   <xsd:enumeration value="unknown">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_unknown.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_1"/>
   <xsd:enumeration value="altered">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_altered.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_2"/>
   <xsd:enumeration value="cancelled">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_cancelled.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_3"/>
   <xsd:enumeration value="delayed">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_delayed.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_4"/>
   <xsd:enumeration value="diverted">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_diverted.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_5"/>
   <xsd:enumeration value="noService">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_no service.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_6"/>
   <xsd:enumeration value="disrupted">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_disrupted.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_7"/>
   <xsd:enumeration value="additionalService">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_additional service.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_8"/>
   <xsd:enumeration value="specialService">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_special service.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_9"/>
   <xsd:enumeration value="onTime">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_on time.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_10"/>
   <xsd:enumeration value="normalService">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_normal service.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_11"/>
   <xsd:enumeration value="intermittentService">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_intermittent service.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_12"/>
   <xsd:enumeration value="shortFormedService">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_short formed service.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_13"/>
   <xsd:enumeration value="fullLengthService">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_full length service.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_14"/>
   <xsd:enumeration value="extendedService">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_extended service.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_15"/>
   <xsd:enumeration value="splittingTrain">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_splitting train.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_16"/>
   <xsd:enumeration value="replacementTransport">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_replacement transport.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_17"/>
   <xsd:enumeration value="arrivesEarly">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_arrives early.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_18"/>
   <xsd:enumeration value="shuttleService">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_shuttle service.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_19"/>
   <xsd:enumeration value="replacementService">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_replacement service.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="pti13_255"/>
   <xsd:enumeration value="undefinedServiceInformation">
    <xsd:annotation>
     <xsd:documentation>TPEG Pti13_Undefined service information.</xsd:documentation>
    </xsd:annotation>
   </xsd:enumeration>
  </xsd:restriction>
 </xsd:simpleType>
 <!-- ==Verification================================= -->
 <xsd:element name="VerificationStatus">
  <xsd:annotation>
   <xsd:documentation>Classification of verification status TPEG Pti13 Service Condition values.</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType>
   <xsd:restriction base="VerificationStatusEnumeration"/>
  </xsd:simpleType>
 </xsd:element>
 <xsd:simpleType name="VerificationStatusEnumeration">
  <xsd:annotation>
   <xsd:documentation>Values for Verification Status Corresponds to TPEG pti_table 32.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:NMTOKEN">
   <xsd:enumeration value="pti32_0"/>
   <xsd:enumeration value="unknown"/>
   <xsd:enumeration value="pti32_1"/>
   <xsd:enumeration value="unverified"/>
   <xsd:enumeration value="pti32_255"/>
   <xsd:enumeration value="verified"/>
   <xsd:enumeration value="verifiedAsDuplicate"/>
  </xsd:restriction>
 </xsd:simpleType>
 <!-- ==Predictability================================= -->
 <xsd:element name="Predictability">
  <xsd:annotation>
   <xsd:documentation>Classification of Predictability status.</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType>
   <xsd:restriction base="VerificationStatusEnumeration"/>
  </xsd:simpleType>
 </xsd:element>
 <xsd:simpleType name="PredictabilityEnumeration">
  <xsd:annotation>
   <xsd:documentation>Values for Predictability Status.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:NMTOKEN">
   <xsd:enumeration value="planned"/>
   <xsd:enumeration value="unplanned"/>
   <xsd:enumeration value="all"/>
  </xsd:restriction>
 </xsd:simpleType>
</xsd:schema>
