xsd/siri_model/siri_time.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siri.org.uk/siri" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2" id="siri_time">
 <xsd:annotation>
  <xsd:appinfo>
   <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
    <Aggregation>main schema</Aggregation>
    <Audience>e-service developers</Audience>
    <Coverage>Europe</Coverage>
    <Creator>Drafted for version 1.0 CEN TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@siri.org.uk</Creator>
    <Date>
     <Created>2005-10-03</Created>
    </Date>
    <Date>
     <Modified>2005-10-04</Modified>
    </Date>
    <Date>
     <Modified>2005-05-11</Modified>
    </Date>
    <Date>
     <Modified>2007-03-29</Modified>
    </Date>
    <Date><Modified>2008-11-10</Modified>
						 refine day types  
				</Date>
    <Date><Modified>2014-06-20</Modified>
					* [se] Add end time precision to halfopen time rangefor  input a siri_time-v2.0.xsd.
					* [se] Add end time status  to halfopen time range output  siri_time-v2.0.xsd.
				</Date>
    <Description>
     <p>SIRI is a European CEN standard for the exchange of real-time information .</p>
    </Description>
    <Format>
     <MediaType>text/xml</MediaType>
     <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
     <Description>XML schema, W3C Recommendation 2001</Description>
    </Format>
    <Identifier>{http://www.siri.org.uk/schema/2.0/xsd/siri_model/}siri_time-v1.2.xsd</Identifier>
    <Language>[ISO 639-2/B] ENG</Language>
    <Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
    <Rights>Unclassified

       <Copyright>CEN, VDV, RTIG 2004-2012</Copyright>
				</Rights>
    <Source>
     <ul>
      <li>Derived from the VDV, RTIG CML and Trident standards.</li>
     </ul>
    </Source>
    <Status>Version 2.0 Draft</Status>
    <Subject>
     <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport, Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
     <Project>CEN TC278 WG3 SG7</Project>
    </Subject>
    <Title>SIRI XML schema. Service Interface for Real-time  Information relating to Public Transport Operations. Subschema of time types.</Title>
    <Type>Standard</Type>
   </Metadata>
  </xsd:appinfo>
 </xsd:annotation>
 <!-- ======================================================================= -->
 <!-- =====Times================================================================== -->
 <xsd:complexType name="ClosedTimestampRangeStructure">
  <xsd:annotation>
   <xsd:documentation>Type for a range of date and times. Both start and end time are required.</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="StartTime" type="xsd:dateTime">
    <xsd:annotation>
     <xsd:documentation>The (inclusive) start date and time.</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="EndTime" type="xsd:dateTime">
    <xsd:annotation>
     <xsd:documentation>The (inclusive) end date and time.</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ClosedTimeRangeStructure">
  <xsd:annotation>
   <xsd:documentation>Type for a range of times. Both start and end time are required.</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="StartTime" type="xsd:time">
    <xsd:annotation>
     <xsd:documentation>The (inclusive) start time.</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="EndTime" type="xsd:time">
    <xsd:annotation>
     <xsd:documentation>The (inclusive) end time.</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="EndTimePrecision" type="EndTimePrecisionEnumeration" default="second" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Precision with which to interpret the inclusive end time. Default is to the second.</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="HalfOpenTimeRangeStructure">
  <xsd:annotation>
   <xsd:documentation>Type for a range of times. Start time must be specified, end time is optional.</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="StartTime" type="xsd:time">
    <xsd:annotation>
     <xsd:documentation>The (inclusive) start time.</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="EndTime" type="xsd:time" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>The (inclusive) end time. If omitted, the range end is open-ended, that is, it should be interpreted as "forever".</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="HalfOpenTimestampInputRangeStructure">
  <xsd:annotation>
   <xsd:documentation>Type for a range of date times. Start time must be specified, end time is optional.</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="StartTime" type="xsd:dateTime">
    <xsd:annotation>
     <xsd:documentation>The (inclusive) start time stamp.</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="EndTime" type="xsd:dateTime" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>The (inclusive) end time stamp. </xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="EndTimePrecision" type="EndTimePrecisionEnumeration" default="second" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Precision with which to interpret the inclusive end time. Default is to the second. (Siri 2.0++)</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="HalfOpenTimestampOutputRangeStructure">
  <xsd:annotation>
   <xsd:documentation>Type for a range of date times. Start time must be specified, end time is optional.</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="StartTime" type="xsd:dateTime">
    <xsd:annotation>
     <xsd:documentation>The (inclusive) start time stamp.</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="EndTime" type="xsd:dateTime" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>The (inclusive) end time stamp. If omitted, the range end is open-ended, that is, it should be interpreted as defined by end time status.  </xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="EndTimeStatus" type="EndTimeStatusEnumeration" default="undefined" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>If end time not provided, whethhr to interpret range as long, term, short term or unknown length of situation.  Default is unknown. (Siri 2.0++)</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="EndTimePrecisionEnumeration">
  <xsd:annotation>
   <xsd:documentation>Allowed values for EndTime Precision</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="day"/>
   <xsd:enumeration value="hour"/>
   <xsd:enumeration value="second"/>
   <xsd:enumeration value="milliSecond"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="EndTimeStatusEnumeration">
  <xsd:annotation>
   <xsd:documentation>Allowed values for EndTime Status.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="undefined"/>
   <xsd:enumeration value="longTerm"/>
   <xsd:enumeration value="shortTerm"/>
  </xsd:restriction>
 </xsd:simpleType>
 <!-- ======================================================================= -->
 <xsd:element name="DayType" type="DayTypeEnumeration" default="everyDay">
  <xsd:annotation>
   <xsd:documentation>Tpeg DAY TYPE pti_table 34</xsd:documentation>
  </xsd:annotation>
 </xsd:element>
 <xsd:simpleType name="DayTypeEnumeration">
  <xsd:annotation>
   <xsd:documentation>Values for Day Type TPEG pti_table 34</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:NMTOKEN">
   <xsd:enumeration value="pti34_0"/>
   <xsd:enumeration value="unknown"/>
   <xsd:enumeration value="pti34_1"/>
   <xsd:enumeration value="monday"/>
   <xsd:enumeration value="pti34_2"/>
   <xsd:enumeration value="tuesday"/>
   <xsd:enumeration value="pti34_3"/>
   <xsd:enumeration value="wednesday"/>
   <xsd:enumeration value="pti34_4"/>
   <xsd:enumeration value="thursday"/>
   <xsd:enumeration value="pti34_5"/>
   <xsd:enumeration value="friday"/>
   <xsd:enumeration value="pti34_6"/>
   <xsd:enumeration value="saturday"/>
   <xsd:enumeration value="pti34_7"/>
   <xsd:enumeration value="sunday"/>
   <xsd:enumeration value="pti34_8"/>
   <xsd:enumeration value="weekdays"/>
   <xsd:enumeration value="pti34_9"/>
   <xsd:enumeration value="weekends"/>
   <xsd:enumeration value="pti34_10"/>
   <xsd:enumeration value="holiday"/>
   <xsd:enumeration value="pti34_11"/>
   <xsd:enumeration value="publicHoliday"/>
   <xsd:enumeration value="pti34_12"/>
   <xsd:enumeration value="religiousHoliday"/>
   <xsd:enumeration value="pti34_13"/>
   <xsd:enumeration value="federalHoliday"/>
   <xsd:enumeration value="pti34_14"/>
   <xsd:enumeration value="regionalHoliday"/>
   <xsd:enumeration value="pti34_15"/>
   <xsd:enumeration value="nationalHoliday"/>
   <xsd:enumeration value="pti34_16"/>
   <xsd:enumeration value="mondayToFriday"/>
   <xsd:enumeration value="pti34_17"/>
   <xsd:enumeration value="mondayToSaturday"/>
   <xsd:enumeration value="pti34_18"/>
   <xsd:enumeration value="sundaysAndPublicHolidays"/>
   <xsd:enumeration value="pti34_19"/>
   <xsd:enumeration value="schoolDays"/>
   <xsd:enumeration value="pti34_20"/>
   <xsd:enumeration value="everyDay"/>
   <xsd:enumeration value="pti34_255"/>
   <xsd:enumeration value="undefinedDayType"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="DaysOfWeekEnumerationx">
  <xsd:annotation>
   <xsd:documentation>Values for Day Type TPEG pti_table 34</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="DayTypeEnumeration">
   <xsd:enumeration value="unknown"/>
   <xsd:enumeration value="monday"/>
   <xsd:enumeration value="tuesday"/>
   <xsd:enumeration value="wednesday"/>
   <xsd:enumeration value="thursday"/>
   <xsd:enumeration value="friday"/>
   <xsd:enumeration value="saturday"/>
   <xsd:enumeration value="sunday"/>
   <xsd:enumeration value="mondayToFriday"/>
   <xsd:enumeration value="mondayToSaturday"/>
   <xsd:enumeration value="weekdays"/>
   <xsd:enumeration value="weekends"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="HolidayTypeEnumerationx">
  <xsd:annotation>
   <xsd:documentation>Values for Day Type TPEG pti_table 34</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="DayTypeEnumeration">
   <xsd:enumeration value="holiday"/>
   <xsd:enumeration value="publicHoliday"/>
   <xsd:enumeration value="religiousHoliday"/>
   <xsd:enumeration value="federalHoliday"/>
   <xsd:enumeration value="regionalHoliday"/>
   <xsd:enumeration value="nationalHoliday"/>
   <xsd:enumeration value="sundaysAndPublicHolidays"/>
   <xsd:enumeration value="schoolDays"/>
   <xsd:enumeration value="everyDay"/>
   <xsd:enumeration value="undefinedDayType"/>
  </xsd:restriction>
 </xsd:simpleType>
</xsd:schema>
