xsd/siri_model/siri_situationActions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siri.org.uk/siri" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1" id="siri_situationActions">
	<!--
10.01.2018 D. Rubli, Siri_XML-2.0p synchronisation of recommendation with xsd:
- PublishToDisplayAction added to ActionsGroup
-->
	<!--
19.12.2017 D. Rubli, Siri_XML-2.0p_a0.2:
- ActionsStructure: extended with PublishingAction
- PassengerInformationAction.ActionValidityPeriod: changed from HalfOpenTimestampOutputRangeStructure to structure with three different time range definitions, with StartTime and Duration
- PassengerInformationAction.RepetitionWithPeriod: deleted
- PassengerInformationAction.TextualContent: Single and multiple contents formed with text elements
- PassengerInformationAction.TextualContent.Internal: changed to unbounded for different languages
- PassengerInformationAction.TextualContent.Language: deleted
08.01.2018 D. Rubli, Siri_XML-2.0p_a0.2:
- Duration type Duration235959Type renamed to Duration235959 and base changed from time to duration
25.01.2018 D. Rubli, Siri_XML-2.0p_a0.4:
- PassengerInformationAction.ActionPriority added, e.g. suitable for sorting or hiding individual passenger information actions.
- PassengerInformationAction.TextualContent.DetailContent and Detail renamed to ConsequenceContent and ConsequenceText
- PassengerInformationAction.OwnerRef added
- PassengerInformationAction.TextualContent.Keywords replaced by TextualContentSize S, M, L
- PassengerInformationAction.TextualContent.ActionsGroup added
25.01.2018 D. Rubli, Siri_XML-2.0p synchronisation of recommendation with xsd:
- ActionsStructure.ActionsGroup.PublishToTvAction and NotifyBySmsAction changed to unbounded
- ActionsStructure.ActionsGroup.PublishToTvAction.Ceefax and Teletext: annotation switched
13.06.2018 D. Rubli, Siri_XML-2.0p_a0.5:
- PublicationWindow (with existing SIRI-structure ClosedTimestampRangeStructure) added to ParameterisedActionStructure
   - because ParameterisedActionStructure is base of PassengerInformationAction, PublicationWindow replaces there the ActionValidityPeriod of version Siri_XML-2.0p_a0.4, which had wrongly not the name PublicationWindow
   - because ParameterisedActionStructure is base of all PublishTo...-structures, PublicationWindow is now automatically also available there
- ScopeType renamed to Perspective with new enumeration "general" / "stopPoint" / "vehicleJourney"
-->
	<xsd:include schemaLocation="siri_situation.xsd"/>
	<xsd:include schemaLocation="siri_feature_support.xsd"/>
	<xsd:include schemaLocation="siri_journey.xsd"/>
	<xsd:include schemaLocation="../siri_utility/siri_types.xsd"/>
	<xsd:include schemaLocation="../siri_utility/siri_location.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Add names</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>&gt;Drafted for version 1.0 Kizoom SITUATION Schema Nicholas Knowles, Kizoom. mailto:schemer@kizoom.org.uk</Creator>
				<Date>
					<Created>2006-09-29</Created>
				</Date>
				<Date>
					<Modified>2007-04-17</Modified>
				</Date>
				<Date>
					<Modified>2013-10-01</Modified>
					<!-- (a) Added PublishToDisplayAction element definition
          (b) Corrected default values for string fields -->
				</Date>
				<Date>
					<Modified>2013-05-01</Modified>
					<!-- [de] Add SocialNetworks to PublishToWeb action -->
				</Date>
				<Description>
					<p>SIRI-SX is an XML schema for the exchange of structured SITUATIONs. This subschema describes publishing actions </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.siri.org.uk/schema/schema/2.0/xsd/siri_model}/siri_situationActions.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD</Publisher>
				<Relation>
					<Requires>http://www.siri.org.uk/schema/2.0/xsd/siri_utility/siri_types.xsd</Requires>
				</Relation>
				<Rights>
					<!--Unclassified-->
					<Copyright>Kizoom 2000-2007, CEN 2009-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Schema derived Derived from the Kizoom XTIS schema</li>
					</ul>
				</Source>
				<Status>Version 2.1</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport, Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>SIRI-SX XML Schema for PT SITUATIONs. Actions subschema</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>SIRI-SX Situation Actions.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===Overall action====================================== -->
	<xsd:complexType name="ActionsStructure">
		<xsd:annotation>
			<xsd:documentation>Type for list of actions.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0">
			<xsd:group ref="ActionsGroup"/>
			<xsd:element name="PublishingAction" type="PublishingActionStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Description of the whole action to be published. &gt;SIRI 2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extensions" type="xsd:anyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Extension point.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===Actions================================================== -->
	<xsd:complexType name="SimpleActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for list of SITUATIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ActionStatus" type="ActionStatusEnumeration" default="open" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Processing Status of action at time of SITUATION publication. Default is 'open'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="ParameterisedActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for parameterised, i.e. user definable, actions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SimpleActionStructure">
				<xsd:sequence>
					<xsd:element name="Description" type="NaturalLanguageStringStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Description of action.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ActionData" type="ActionDataStructure" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Data associated with action.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PublicationWindow" type="ClosedTimestampRangeStructure" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Defines a number of publication windows. When not sent, then the publication windows of higher level are valid. Can be overwritten by deeper level.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PushedActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for publication action.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParameterisedActionStructure">
				<xsd:sequence>
					<xsd:element name="BeforeNotices" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Whether reminders should be sent.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Interval" type="DurationType" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Intervals before validity start date to send reminders.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ClearNotice" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Whether a clearing notice should be displayed.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ActionStatusEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Progress Status.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="open"/>
			<xsd:enumeration value="published"/>
			<xsd:enumeration value="closed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ActionDataStructure">
		<xsd:annotation>
			<xsd:documentation>Type for list of SITUATIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:NMTOKEN">
				<xsd:annotation>
					<xsd:documentation>Name of action data Element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Type" type="xsd:NMTOKEN">
				<xsd:annotation>
					<xsd:documentation>Data type of action data.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Value" type="xsd:anyType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Value for action.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Prompt" type="NaturalLanguageStringStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Display prompt for presenting action to user. (Unbounded since SIRI 2.0)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PublishAtScope" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defines the information area where the action has to be published.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ScopeType" type="ScopeTypeEnumeration"/>
						<xsd:element name="Affects" type="AffectsScopeStructure"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:group name="ActionsGroup">
		<xsd:annotation>
			<xsd:documentation>Allowed actions to perform to distribute SITUATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PublishToWebAction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PublishToMobileAction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PublishToTvAction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PublishToAlertsAction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PublishToDisplayAction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ManualAction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="NotifyByEmailAction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="NotifyBySmsAction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="NotifyByPagerAction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="NotifyUserAction" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="PublishToWebAction" type="PublishToWebActionStructure">
		<xsd:annotation>
			<xsd:documentation>Action: Publish SITUATION To Web channel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PublishToWebActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Action Publish SITUATION To Web channel.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParameterisedActionStructure">
				<xsd:sequence>
					<xsd:element name="Incidents" type="xsd:boolean" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Include in SITUATION lists on web site. Default is 'true'.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="HomePage" type="xsd:boolean" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Include on home page on web site. Default is 'false'.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Ticker" type="xsd:boolean" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Include in moving ticker band. Default is 'false'.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SocialNetwork" type="xsd:normalizedString" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Include in social NETWORK indicated by this name. Possible value could be "twitter.com", "facebook.com", "vk.com" and so on. Parameters may be specified as Action data. (SIRI 2.1)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PublishToMobileAction" type="PublishToMobileActionStructure">
		<xsd:annotation>
			<xsd:documentation>Action: Publish SITUATION To Mobile Applications.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PublishToMobileActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Action Publish SITUATION To Mobile Applications.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParameterisedActionStructure">
				<xsd:sequence>
					<xsd:element name="Incidents" type="xsd:boolean" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Include in SITUATION lists on mobile site. Default is 'true'.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="HomePage" type="xsd:boolean" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Include in home page on mobile site. Default is 'false'.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PublishToDisplayAction" type="PublishToDisplayActionStructure">
		<xsd:annotation>
			<xsd:documentation>Action: Publish SITUATION To Display channel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PublishToDisplayActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Action Publish SITUATION To Display channel.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParameterisedActionStructure">
				<xsd:sequence>
					<xsd:element name="OnPlace" type="xsd:boolean" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Include in SITUATION lists on station displays.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OnBoard" type="xsd:boolean" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Include onboard displays.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PublishToAlertsAction" type="PublishToAlertsActionStructure">
		<xsd:annotation>
			<xsd:documentation>Action: Publish SITUATION To Alert channel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PublishToAlertsActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Action Publish SITUATION To Alert channel.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PushedActionStructure">
				<xsd:sequence>
					<xsd:element name="ByEmail" type="xsd:boolean" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Send as email alert.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ByMobile" type="xsd:boolean" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Send as mobile alert by SMS or WAP push.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PublishToTvAction" type="PublishToTvActionStructure">
		<xsd:annotation>
			<xsd:documentation>Action: Publish SITUATION To TV channel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PublishToTvActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Notify SITUATION to TV channel.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParameterisedActionStructure">
				<xsd:sequence>
					<xsd:element name="Ceefax" type="xsd:boolean" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Publish to Ceefax. Default is 'true'.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Teletext" type="xsd:boolean" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Publish to Teletext. Default is 'true'.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="ManualAction">
		<xsd:annotation>
			<xsd:documentation>Action: Publish SITUATION to Manual publication channel.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ManualActionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ManualActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Action Publish SITUATION to Manual publication channel.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParameterisedActionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="NotifyBySmsAction" type="NotifyBySmsActionStructure">
		<xsd:annotation>
			<xsd:documentation>Action: Publish SITUATION to an individual user by SMS.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyBySmsActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Notify an individual user by SMS.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PushedActionStructure">
				<xsd:sequence>
					<xsd:element name="Phone" type="PhoneType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>MSISDN of user to which to send messages.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Premium" type="xsd:boolean" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Whether content is flagged as subject to premium charge. Default is 'false'.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="NotifyByEmailAction" type="NotifyByEmailActionStructure">
		<xsd:annotation>
			<xsd:documentation>Action: Publish SITUATION to a named workgroup or individual user by email.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyByEmailActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Notify a named workgroup or individual user by email.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PushedActionStructure">
				<xsd:sequence>
					<xsd:element name="email" type="EmailAddressType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Email address to which notice should be sent.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="NotifyByPagerAction" type="NotifyByPagerActionStructure">
		<xsd:annotation>
			<xsd:documentation>Action: Publish SITUATION To pager.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyByPagerActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Notify user by Pager.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PushedActionStructure">
				<xsd:sequence>
					<xsd:element name="PagerGroupRef" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Reference to a pager group to be notified.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Pager" type="xsd:NMTOKEN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Pager number of pager to be notified.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="NotifyUserAction" type="NotifyUserActionStructure">
		<xsd:annotation>
			<xsd:documentation>Action: Publish SITUATION To User by other means.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NotifyUserActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Notify user by other means.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PushedActionStructure">
				<xsd:sequence>
					<xsd:element name="WorkgroupRef" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Workgroup of user to be notified.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="UserName" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of user to be notified.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="UserRef" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Reference to a user to be notified.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===Extentions for SIRI-SX v2.0p-a0.x================================================== -->
	<xsd:complexType name="DescriptionContentStructure">
		<xsd:sequence>
			<xsd:element name="DescriptionText" type="DefaultedTextStructure" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Description of passenger information action in a specific language. Should not repeat any strap line included in Summary.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DescriptionPriority" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prioritises a description from the information owner's point of view, e.g. usable for sorting or hiding individual descriptions.
1 = highest priority.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsequenceContentStructure">
		<xsd:sequence>
			<xsd:element name="ConsequenceText" type="DefaultedTextStructure" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Consequence of passenger information action in a specific language.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConsequencePriority" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prioritises a consequence from the information owner's point of view, e.g. usable for sorting or hiding individual consequences.
1 = highest priority.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DurationContentStructure">
		<xsd:sequence>
			<xsd:element name="DurationText" type="DefaultedTextStructure" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Indicates the currently expected duration of a SITUATION in a specific language. An estimation should be given here, because an indefinite duration is not helpful to the passenger. The duration can be adjusted at any time, if the traffic operator has additional information.
     </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PassengerInformationAction" type="PassengerInformationActionStructure"/>
	<xsd:complexType name="PassengerInformationActionStructure">
		<xsd:complexContent>
			<xsd:extension base="ParameterisedActionStructure">
				<xsd:sequence>
					<xsd:element name="ActionRef" type="EntryQualifierStructure">
						<xsd:annotation>
							<xsd:documentation>Reference to the action number within the incident concept.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RecordedAtTime" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>The time of the last update. This must be the timestamp of the original data source and not that of an intermediate system, such as a data hub. This timestamp has to be changed by the source system with every update.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Version" type="SituationVersion" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The monotonically inscresing version of the passenger information instance. If absent, is the same version as the enclosing Situation</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SourceRef" type="ParticipantRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The system which created this passenger information. If absent, the same system as the PtSituationElement.ParticipantRef.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OwnerRef" type="OrganisationRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The organisation which owns this passenger information.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Perspective" type="PerspectiveEnumeration" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Perspective of the passenger, e.g. general, vehicleJourney, stopPoint.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ActionPriority" type="xsd:positiveInteger" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Prioritises a passenger information action from the information owner's point of view, e.g. suitable for sorting or hiding individual passenger information actions.
1 = highest priority.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TextualContent" type="TextualContentStructure" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>The actual, structured passenger information for a specific TextualContentSize.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PublishingActionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for description of the whole action to be published (extends SIRI-SX v2.0p).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublishAtScope">
				<xsd:annotation>
					<xsd:documentation>Defines the information area where the action has to be published.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ScopeType" type="ScopeTypeEnumeration"/>
						<xsd:element name="Affects" type="AffectsScopeStructure"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="PassengerInformationAction" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Description of the whole passenger information of one action.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReasonContentStructure">
		<xsd:sequence>
			<xsd:element name="ReasonText" type="DefaultedTextStructure" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Reason of passenger information action in a specific language.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecommendationContentStructure">
		<xsd:sequence>
			<xsd:element name="RecommendationText" type="DefaultedTextStructure" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Recommendation of passenger information action in a specific language.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecommendationPriority" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prioritises a recommendation from the information owner's point of view, e.g. usable for sorting or hiding individual recommendations. 
1 = highest priority.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RemarkContentStructure">
		<xsd:sequence>
			<xsd:element name="Remark" type="DefaultedTextStructure" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Further remark to passengers, e,g, "For more information call xy".</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RemarkPriority" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prioritises a remark from the information owner's point of view, e.g. usable for sorting or hiding individual remarks. 
1 = highest priority.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SummaryContentStructure">
		<xsd:sequence>
			<xsd:element name="SummaryText" type="DefaultedTextStructure" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Summary of passenger information action in a specific language.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TextualContentStructure">
		<xsd:sequence>
			<xsd:element name="TextualContentSize" type="xsd:NMTOKENS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Class of size, e.g. L (large), M (medium), S (small)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="ActionsGroup" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Limits the distribution to publication channels in addition to perspective</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="SummaryContent" type="SummaryContentStructure">
				<xsd:annotation>
					<xsd:documentation>Content for summary of a passenger information action</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReasonContent" type="ReasonContentStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Content for reason of a passenger information action</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DescriptionContent" type="DescriptionContentStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Content for n descriptions of a passenger information action. For hiding / sorting descriptions in end devices, a description priority can be set.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConsequenceContent" type="ConsequenceContentStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Content for n consequences of a passenger information action. For hiding / sorting descriptions in end devices, a consequence priority can be set.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecommendationContent" type="RecommendationContentStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Content for n recommendations of a passenger information action. For hiding / sorting descriptions in end devices, a recommendation priority can be set.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DurationContent" type="DurationContentStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Content for the duration of a passenger information action.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RemarkContent" type="RemarkContentStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Content for n remarks of a passenger information action, e,g, "For more information call xy". For hiding / sorting descriptions in end devices, a remark priority can be set.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InfoLink" type="InfoLinkStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Hyperlinks to other resources associated with SITUATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Image" type="ImageStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Any images associated with SITUATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Internal" type="DefaultedTextStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>for internal information only, not passenger relevant</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PerspectiveEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for perspectives.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="general"/>
			<xsd:enumeration value="stopPoint"/>
			<xsd:enumeration value="vehicleJourney"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
