xsd/ifopt/ifopt_stop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.ifopt.org.uk/ifopt" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ifopt.org.uk/ifopt" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3" id="ifopt_stop">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles, Kizoom. mailto:schemer@ifopt.org.uk</Creator>
				<Date>
					<Created>2006-08-12</Created>
				</Date>
				<Date>
					<Modified>2006-09-22</Modified>
				</Date>
				<Date>
					<Modified>2007-03-29</Modified>
				</Date>
				<Date>
					<Modified>2012-03-12</Modified>
					<!--Change IdentifertYpe to normalizedString-->
				</Date>
				<Date>
					<Modified>2018-11-13</Modified>
					<!--[vdv] Enum "ferrytPort" in StopPlaceTypeEnumeration changed to "ferryPort"-->
				</Date>
				<Description>
					<p>Fixed Objects in Public Transport. This subschema defines STOP PLACE base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.siri.org.uk/schema/2.0/ifopt}ifopt_types.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD</Publisher>
				<Rights>
					<!--Unclassified-->
					<Copyright>CEN, Crown Copyright 2006-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 2.1</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport, Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG6</Project>
				</Subject>
				<Title>IFOPT Fixed Objects in Public Transport - STOP PLACE Base Types. </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>Basic STOP PLACE types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- Simple Type Definitions -->
	<xsd:simpleType name="StopPlaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
	<xsd:element name="StopPlaceRef" type="StopPlaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Reference to a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopPlaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="StopPlaceIdType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StopPlaceRefsStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="StopPlaceRef" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="StopPlaceComponentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
	<xsd:complexType name="StopPlaceComponentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="StopPlaceComponentIdType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StopPlaceSpaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to STOP PLACE Space.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="StopPlaceComponentRefStructure"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="QuayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to QUAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="StopPlaceSpaceRefStructure"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AccessSpaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to ACCESS SPACe.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="StopPlaceSpaceRefStructure"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BoardingPositionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to BOARDING POSITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="StopPlaceSpaceRefStructure"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StopPlaceEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to STOP PLACE Entrance.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="StopPlaceSpaceRefStructure"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleStoppingPlaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to VEHICLE STOPPING PLACe.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="StopPlaceSpaceRefStructure"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleStoppingPositionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to VEHICLE STOPPING POSITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="StopPlaceSpaceRefStructure"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LevelCodeType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a building LEVEL within a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
	<xsd:complexType name="LevelRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to identifier of LEVEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="LevelCodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="AccessPathLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to identifier of PATHLINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="StopPlaceComponentRefStructure"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StopPathLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to STOP PLACE Space.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StopPlaceComponentRefStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PublicCodeType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a stop for SMS and other customer facing delivery channels.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PrivateCodeType">
		<xsd:annotation>
			<xsd:documentation>Private code alternative identifier that may be associated with element.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PlateCodeType">
		<xsd:annotation>
			<xsd:documentation>The plate identifier placed on the stop.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CleardownCodeType">
		<xsd:annotation>
			<xsd:documentation>Number associated with stop used for wireless cleardown systems. 20 bit number.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger"/>
	</xsd:simpleType>
	<xsd:group name="StopIdentifierGroup">
		<xsd:annotation>
			<xsd:documentation>Alternative identifiers of a stop.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicCode" type="PublicCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short public code for passengers to use when identifying the stop by SMS and other self-service channels.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrivateCode" type="PrivateCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A private code that identifies the stop. May be used for inter-operating with other (legacy) systems.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlateCode" type="PlateCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Plate number for stop. An arbitrary asset number that may be placed on stop to identify it.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CleardownCode" type="CleardownCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A 20 bit number used for wireless cleardown of stop displays by some AVL systems.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:simpleType name="StopPlaceTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Enumeration of STOP PLACE types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="airport"/>
			<xsd:enumeration value="railStation"/>
			<xsd:enumeration value="metroStation"/>
			<xsd:enumeration value="coachStation"/>
			<xsd:enumeration value="busStation"/>
			<xsd:enumeration value="harbourPort"/>
			<xsd:enumeration value="ferryPort"/>
			<xsd:enumeration value="ferryStop"/>
			<xsd:enumeration value="onStreetBus"/>
			<xsd:enumeration value="onStreetTram"/>
			<xsd:enumeration value="skiLift"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AliasStructure">
		<xsd:annotation>
			<xsd:documentation>Alternative Private Code.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PrivateCode" type="PrivateCodeType">
				<xsd:annotation>
					<xsd:documentation>Alternative identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IdentifierType" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="StopPlaceComponentTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Enumeration of SITE COMPONENT Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="quay"/>
			<xsd:enumeration value="accessSpace"/>
			<xsd:enumeration value="entrance"/>
			<xsd:enumeration value="boardingPosition"/>
			<xsd:enumeration value="stoppingPlace"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QuayTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Enumeration of QUAY Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="airlineGate"/>
			<xsd:enumeration value="railPlatform"/>
			<xsd:enumeration value="metroPlatform"/>
			<xsd:enumeration value="coachStop"/>
			<xsd:enumeration value="busStop"/>
			<xsd:enumeration value="tramStop"/>
			<xsd:enumeration value="boatQuay"/>
			<xsd:enumeration value="ferryLanding"/>
			<xsd:enumeration value="telecabinePlatform"/>
			<xsd:enumeration value="telecabinePlatfrom">
				<xsd:annotation>
					<xsd:documentation>deprecated</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="taxiStand"/>
			<xsd:enumeration value="setDownPlace"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccessSpaceTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Enumeration of ACCESS SPACE Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="concours"/>
			<xsd:enumeration value="bookingHall"/>
			<xsd:enumeration value="forecourt"/>
			<xsd:enumeration value="underpass"/>
			<xsd:enumeration value="overpass"/>
			<xsd:enumeration value="passage"/>
			<xsd:enumeration value="passageSection"/>
			<xsd:enumeration value="gallery"/>
			<xsd:enumeration value="garage"/>
			<xsd:enumeration value="shop"/>
			<xsd:enumeration value="waitingRoom"/>
			<xsd:enumeration value="restaurant"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassageTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Enumeration of Passage Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="pathway"/>
			<xsd:enumeration value="corridor"/>
			<xsd:enumeration value="overpass"/>
			<xsd:enumeration value="underpass"/>
			<xsd:enumeration value="tunnel"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BoardingPositionTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Enumeration of BOARDING POSITION Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="doorFromAirlineGate"/>
			<xsd:enumeration value="positionOnRailPlatform"/>
			<xsd:enumeration value="positionOnMetroPlatform"/>
			<xsd:enumeration value="positionAtCoachStop"/>
			<xsd:enumeration value="positionAtBusStop"/>
			<xsd:enumeration value="boatGangway"/>
			<xsd:enumeration value="ferryGangway"/>
			<xsd:enumeration value="telecabinePlatform"/>
			<xsd:enumeration value="telecabinePlatfrom">
				<xsd:annotation>
					<xsd:documentation>deprecated</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="setDownPoint"/>
			<xsd:enumeration value="taxiBay"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RelationToVehicleEnumeration">
		<xsd:annotation>
			<xsd:documentation>Enumeration of Relation to VEHICLE of STOPPING POSITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="frontLeft"/>
			<xsd:enumeration value="frontRight"/>
			<xsd:enumeration value="backRight"/>
			<xsd:enumeration value="backRight"/>
			<xsd:enumeration value="driverLeft"/>
			<xsd:enumeration value="driverRight"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InterchangeWeightingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Enumeration of Interchange Weighting.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="noInterchange"/>
			<xsd:enumeration value="interchangeAllowed"/>
			<xsd:enumeration value="recommendedInterchange"/>
			<xsd:enumeration value="preferredInterchange"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
