xsd/ifopt/ifopt_administration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.ifopt.org.uk/ifopt" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ifopt.org.uk/ifopt" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3" id="ifopt_administration">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles, Kizoom. mailto:schemer@ifopt.org.uk</Creator>
				<Date>
					<Created>2006-08-12</Created>
				</Date>
				<Date>
					<Modified>2006-09-22</Modified>
				</Date>
				<Date>
					<Modified>2007-03-29</Modified>
				</Date>
				<Description>
					<p>Fixed Objects in Public Transport. This subschema defines data administration base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.siri.org.uk/schema/2.0/ifopt}ifopt_administration.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD</Publisher>
				<Rights>
					<!--Unclassified-->
					<Copyright>CEN, Crown Copyright 2006-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 2.1</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport, Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
					<Project>CEN TC278 WG3 SG6</Project>
				</Subject>
				<Title>IFOPT Fixed Objects in Public Transport - Base Types. </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>Data administration types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="ifopt_modification.xsd"/>
	<xsd:include schemaLocation="ifopt_types.xsd"/>
	<xsd:include schemaLocation="ifopt_countries.xsd"/>
	<!-- ===== Administrator Identifiers================================================================== -->
	<xsd:simpleType name="AdministratorCodeType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ORGANISATION with administrative responsibility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
	<xsd:complexType name="AdministratorRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ORGANISATION with administrative responsibility.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="AdministratorCodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AdministratorVersionedRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a versioned reference to an ORGANISATION with administrative responsibility.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="AdministratorCodeType">
				<xsd:attributeGroup ref="ModificationDetailsGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== ADMINISTRATIVE ZONE / Administrative Area identifiers================================================================== -->
	<xsd:simpleType name="AdministrativeAreaCodeType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of ADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AdministrativeAreaRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="AdministrativeAreaCodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AdministrativeAreaVersionedRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a versioned reference to anADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="AdministrativeAreaCodeType">
				<xsd:attributeGroup ref="ModificationDetailsGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AdministrativeAreaRefsStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to ADMINISTRATIVE ZONEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AdministrativeAreaRef" type="AdministrativeAreaVersionedRefStructure" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Reference to the identifier of an ADMINISTRATIVE ZONE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== RESPONSIBILITY ROLE / AdministrativeRole identifiers=============================================================== -->
	<xsd:simpleType name="AdministrativeRoleTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Enumeration of allowed values for RESPONSIBILITY ROLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="collects"/>
			<xsd:enumeration value="validates"/>
			<xsd:enumeration value="aggregates"/>
			<xsd:enumeration value="distributes"/>
			<xsd:enumeration value="redistributes"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =====Namespace Identifiers=============================================================== -->
	<xsd:simpleType name="NamespaceTypeCodeType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of type of Namespace.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
	<xsd:complexType name="NamespaceTypeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an Namespace.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="NamespaceTypeCodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="NamespaceIdType">
		<xsd:annotation>
			<xsd:documentation>The type for identifier of Namespace.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
	<xsd:simpleType name="NamespaceValueType">
		<xsd:annotation>
			<xsd:documentation>Type for a value of a namespace.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- =====Region======================================================== -->
	<xsd:simpleType name="RegionCodeType">
		<xsd:annotation>
			<xsd:documentation>Type for a Identifier of Region.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
	<xsd:complexType name="RegionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a Reference to identifier of Region.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="RegionCodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AuthorityCodeType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of AUTHORITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AuthorityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an AUTHORITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="AuthorityCodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="VersionedObjectStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Abstract Type for a versioned object.</xsd:documentation>
		</xsd:annotation>
		<xsd:attributeGroup ref="RequiredModificationDetailsGroup"/>
	</xsd:complexType>
	<xsd:group name="VersionedObjectGroup">
		<xsd:annotation>
			<xsd:documentation>Version related properties.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CreationDateTime" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Date on which element was created.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LastUpdateDateTime" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Date on which element was last updated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VersionFrame" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Version of data.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="DataManagedObjectStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Abstract Type for DATA MANAGED OBJECT, that is an object that may be assigned a RESPONSIBILITY SET dictating a responsible ORGANISATION and/or ADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="DataManagedObjectGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DataManagedObjectGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DATA MANAGED OBJECT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ManagedByAreaRef" type="AdministrativeAreaRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ADMINISTRATIVE ZONEthat manages object. If absent then manager same as for containing parent of object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InfoLinks" type="InfoLinksStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Collection of URL's associated with object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
