xsd/siri_wsConsumer-WSDL2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com) by Christophe Duquesne (Dryade) -->
<!-- edited with XMLSPY v2011 (http://www.xmlspy.com) by Christophe Duquesne (Aurige- www.aurigetech.com) -->
<description xmlns="http://www.w3.org/ns/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:siriWS="http://wsdl.siri.org.uk" xmlns:siri="http://www.siri.org.uk/siri" xmlns:ns="http://datex2.eu/schema/1_0/1_0" xmlns:ns1="http://www.ifopt.org.uk/acsb" xmlns:ns2="http://www.ifopt.org.uk/ifopt" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:ns3="http://datex2.eu/schema/2_0RC1/2_0" targetNamespace="http://wsdl.siri.org.uk">
 <!--
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience> 
				<Contributor>Christophe Duquesne, Aurige, Guyancourt FRANCE</Contributor> 
				<Contributor>Nicholas Knowles, KIZOOM LTD., London EC4A 1LT</Contributor> 
				<Coverage>Europe</Coverage>
				<Creator>>Drafted for version 1.0  CEN TC278 WG3 SG7  Editor Christophe Duquesne, Aurige </Creator>
				<Date>
					<Created>2012-05-29</Created>
				</Date>
				<Description>
					<p>SIRI is a European CEN technical standard for the exchange of real time information.</p>
					<p>SIRI is defined by XMLschemas and  comprises a general protocol for communication, and a modular set of functional services as follows :
                        <ul>
							<li>Production Timetable:  Exchanges planned timetables.</li>
							<li>Estimated Timetable:  Exchanges real-time updates to timetables.</li>
							<li>Stop Timetable: Provides timetable information about stop departures and arrivals.</li>
							<li>Stop Monitoring: Provides real time information about stop departures and arrivals.</li>
							<li>Vehicle Monitoring: Provides real time information about vehicle movements.</li>
							<li>Connection Timetable: Provides timetabled information about feeder and distributor arrivals and departures at a connection point.</li>
							<li>Connection Monitoring: Provides real time information about feeder and distributor arrivals and departures at a a connection point. Can be used to support "Connection protection".</li>
							<li>General Message: Exchanges general information messages between participants</li>
							<li>Facility Monitoring: Provides real time information about facilities.</li>
							<li>SItuation  Monitoring: Provides real time information about Incidents.</li>
						</ul>
					</p>
					<p>SIRI supports both direct request/response and publish subscribe patterns of interaction.</p>
					<p>SIRI includes common mechanisms and messages for system status management.</p>
					<p>SIRI documents can be exchanged using http post, and/or SOAP.  
					This package describes consumer bindings using Document/Literal Wrapped encoding for SOAP. It is fully compatible with the RPC/Literal style</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.siri.org.uk/schema/2.0}siri.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.siri.org.uk/schema/2.0/siri_wsCOnsumer-Document.wsdl</Requires>
				</Relation>
				<Rights>Unclassified
                                      <Copyright>CEN, VDV, RTIG  2004-2012</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the VDV, RTIG XML and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 2.0 Draft</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport.
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>WSDL Consumer interafce for SIRI XML schema. Service Interface for Real Time Information relating to Public Transport Operations. </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>    
-->
 <!-- ============
    <xsd:annotation>
        <xsd:appinfo xmlns:gms="http://www.govtalk.gov.uk/CM/gms">
            <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
                <Aggregation>main schema</Aggregation>
                <Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne, Aurige, Guyancourt FRANCE</Contributor>
				<Contributor>Michel Etienne, Cityway, Paris FRANCE</Contributor>
				<Contributor>Robin Vettier, RATP, Paris FRANCE</Contributor>
				<Contributor>Nicholas Knowles, KIZOOM LTD., London EC4A 1LT</Contributor>                <Coverage>Europe</Coverage>
                <Creator>>Drafted for version 1.0 , by  CEN TC278 WG3 SG7 Christophe Duquesne DRYADE SA mailto:schemer@siri.org.uk</Creator>
                <Date>
                    <Created>2005-03-01</Created>
                </Date>
                <Date>
                    <Modified>2005-05-11</Modified>
                </Date>
                <Date>
                    <Modified>2007-01-30</Modified>
                </Date>   <Date>
                    <Modified>2007-04-17</Modified>
               Name Space changes 
                </Date>
                              <Date>
                    <Modified>2008-02-12</Modified>   
					 SIRI-SXe changes 
                </Date>
		<Date> 	 Revise namespaces 
					<Modified>2012-03-19</Modified>
				
				</Date>
                <Description>
                    <p>SIRI is a European CEN standard for the exchange of real time information. This describes WSDL client binding</p>
                </Description>
                <Format>
                    <MediaType>text/xml</MediaType>
                    <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
                    <Description>XML schema, W3C Recommendation 2001</Description>
                </Format>
                <Identifier>{http://www.siri.org.uk/schema/2.0/siri}siri_wsConsumer.wsdl</Identifier>
                <Language>[ISO 639-2/B] ENG</Language>
                <Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
                <Rights>Unclassified
                                         <Copyright>CEN, VDV, RTIG  2004-2012</Copyright>
                </Rights>
                <Source>
                    <ul>
                        <li>SIRI is derived from the VDV, RTIGXML and Trident standards.</li>
                    </ul>
                </Source>
                <Status>Version 2.0 Draft</Status>
                <Subject>
                    <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
 Air transport, Airports,
 Ports and maritime transport, Ferries (marine),
 Public transport, Bus services, Coach services, Bus stops and stations,
 Rail transport, Railway stations and track, Train services, Underground trains,
 Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
 Rail transport, Roads and road transport
 </Category>
                    <Project>CEN TC278 WG3 SG7</Project>
                </Subject>
                <Title>SIRI XML schema. WSDL 2.0 Client binding. </Title>
                <Type>Standard</Type>
            </Metadata>
        </xsd:appinfo>
    </xsd:annotation>
 -->
 <types>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsdl.siri.org.uk">
   <xsd:include schemaLocation="wsdl_model/siri_wsConsumer-Framework.xsd"/>
   <xsd:include schemaLocation="wsdl_model/siri_wsConsumer-Services.xsd"/>
  </xsd:schema>
 </types>
 <interface name="SiriConsumerWsdl2Port">
  <operation name="NotifyDataReady" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifyDataReady"/>
  </operation>
  <operation name="NotifyHeartbeat" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifyHeartbeat"/>
  </operation>
  <operation name="NotifySubscriptionTerminated" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifySubscriptionTerminated"/>
  </operation>
  <!-- == Service Specific == -->
  <operation name="NotifyProductionTimetable" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifyProductionTimetable"/>
  </operation>
  <operation name="NotifyEstimatedTimetable" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifyEstimatedTimetable"/>
  </operation>
  <operation name="NotifyStopTimetable" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifyStopTimetable"/>
  </operation>
  <operation name="NotifyStopMonitoring" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifyStopMonitoring"/>
  </operation>
  <operation name="NotifyVehicleMonitoring" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifyVehicleMonitoring"/>
  </operation>
  <operation name="NotifyConnectionTimetable" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifyConnectionTimetable"/>
  </operation>
  <operation name="NotifyConnectionMonitoring" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifyConnectionMonitoring"/>
  </operation>
  <operation name="NotifyGeneralMessage" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifyGeneralMessage"/>
  </operation>
  <operation name="NotifyFacilityMonitoring" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifyFacilityMonitoring"/>
  </operation>
  <operation name="NotifySituationExchange" pattern="http://www.w3.org/ns/wsdl/in-only">
   <input element="siriWS:NotifySituationExchange"/>
  </operation>
 </interface>
 <binding name="SiriConsumerWsdl2Binding" interface="siriWS:SiriConsumerWsdl2Port" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.1" wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
  <operation ref="siriWS:NotifyDataReady">
   <input/>
  </operation>
  <operation ref="siriWS:NotifyHeartbeat">
   <input/>
  </operation>
  <operation ref="siriWS:NotifySubscriptionTerminated">
   <input/>
  </operation>
  <operation ref="siriWS:NotifyProductionTimetable">
   <input/>
  </operation>
  <operation ref="siriWS:NotifyEstimatedTimetable">
   <input/>
  </operation>
  <operation ref="siriWS:NotifyStopTimetable">
   <input/>
  </operation>
  <operation ref="siriWS:NotifyStopMonitoring">
   <input/>
  </operation>
  <operation ref="siriWS:NotifyVehicleMonitoring">
   <input/>
  </operation>
  <operation ref="siriWS:NotifyConnectionTimetable">
   <input/>
  </operation>
  <operation ref="siriWS:NotifyConnectionMonitoring">
   <input/>
  </operation>
  <operation ref="siriWS:NotifyGeneralMessage">
   <input/>
  </operation>
  <operation ref="siriWS:NotifyFacilityMonitoring">
   <input/>
  </operation>
  <operation ref="siriWS:NotifySituationExchange">
   <input/>
  </operation>
 </binding>
 <service name="SiriConsumerWsdl2Services" interface="siriWS:SiriConsumerWsdl2Port">
  <endpoint name="SiriWSPort" binding="siriWS:SiriConsumerWsdl2Binding" address="http://www.siri-service-location.com"/>
 </service>
</description>
