xsd/siri_wsConsumer-Document.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ======== All the structures are comming from siri.xsd ========= -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:siriWS="http://wsdl.siri.org.uk" xmlns:siri="http://www.siri.org.uk/siri" xmlns:ns="http://datex2.eu/schema/1_0/1_0" xmlns:ns1="http://www.ifopt.org.uk/acsb" xmlns:ns2="http://www.ifopt.org.uk/ifopt" xmlns:ns3="http://datex2.eu/schema/2_0RC1/2_0" targetNamespace="http://wsdl.siri.org.uk">
 <types>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsdl.siri.org.uk">
   <xsd:include schemaLocation="wsdl_model/siri_wsConsumer-Framework.xsd"/>
   <xsd:include schemaLocation="wsdl_model/siri_wsConsumer-Services.xsd"/>
  </xsd:schema>
 </types>
 <message name="HeartbeatNotify">
  <part name="HeartbeatNotifyParameters" element="siriWS:NotifyHeartbeat"/>
 </message>
 <message name="DataReadyNotify">
  <part name="DataReadyNotifyParameters" element="siriWS:NotifyDataReady"/>
 </message>
 <message name="SubscriptionTerminatedNotify">
  <part name="SubscriptionTerminatedNotifyParameters" element="siriWS:NotifySubscriptionTerminated"/>
 </message>
 <message name="ProductionTimetableNotify">
  <part name="ProductionTimetableNotifyParameters" element="siriWS:NotifyProductionTimetable"/>
 </message>
 <message name="EstimatedTimetableNotify">
  <part name="EstimatedTimetableNotifyParameters" element="siriWS:NotifyEstimatedTimetable"/>
 </message>
 <message name="StopTimetableNotify">
  <part name="StopTimetableNotifyParameters" element="siriWS:NotifyStopTimetable"/>
 </message>
 <message name="StopMonitoringNotify">
  <part name="StopMonitoringNotifyParameters" element="siriWS:NotifyStopMonitoring"/>
 </message>
 <message name="VehicleMonitoringNotify">
  <part name="VehicleMonitoringNotifyParameters" element="siriWS:NotifyVehicleMonitoring"/>
 </message>
 <message name="ConnectionTimetableNotify">
  <part name="ConnectionTimetableNotifyParameters" element="siriWS:NotifyConnectionTimetable"/>
 </message>
 <message name="ConnectionMonitoringNotify">
  <part name="ConnectionMonitoringNotifyParameters" element="siriWS:NotifyConnectionMonitoring"/>
 </message>
 <message name="GeneralMessageNotify">
  <part name="GeneralMessageNotifyParameters" element="siriWS:NotifyGeneralMessage"/>
 </message>
 <message name="FacilityMonitoringNotify">
  <part name="FacilityMonitoringNotifyParameters" element="siriWS:NotifyFacilityMonitoring"/>
 </message>
 <message name="SituationExchangeNotify">
  <part name="SituationExchangeNotifyParameters" element="siriWS:NotifySituationExchange"/>
 </message>
 <portType name="SiriConsumerDocPort">
  <operation name="NotifyDataReady">
   <input message="siriWS:DataReadyNotify"/>
  </operation>
  <operation name="NotifyHeartbeat">
   <input message="siriWS:HeartbeatNotify"/>
  </operation>
  <!-- == Service Specific == -->
  <operation name="NotifySubscriptionTerminated">
   <input message="siriWS:SubscriptionTerminatedNotify"/>
  </operation>
  <operation name="NotifyProductionTimetable">
   <input message="siriWS:ProductionTimetableNotify"/>
  </operation>
  <operation name="NotifyEstimatedTimetable">
   <input message="siriWS:EstimatedTimetableNotify"/>
  </operation>
  <operation name="NotifyStopTimetable">
   <input message="siriWS:StopTimetableNotify"/>
  </operation>
  <operation name="NotifyStopMonitoring">
   <input message="siriWS:StopMonitoringNotify"/>
  </operation>
  <operation name="NotifyVehicleMonitoring">
   <input message="siriWS:VehicleMonitoringNotify"/>
  </operation>
  <operation name="NotifyConnectionTimetable">
   <input message="siriWS:ConnectionTimetableNotify"/>
  </operation>
  <operation name="NotifyConnectionMonitoring">
   <input message="siriWS:ConnectionMonitoringNotify"/>
  </operation>
  <operation name="NotifyGeneralMessage">
   <input message="siriWS:GeneralMessageNotify"/>
  </operation>
  <operation name="NotifyFacilityMonitoring">
   <input message="siriWS:FacilityMonitoringNotify"/>
  </operation>
  <operation name="NotifySituationExchange">
   <input message="siriWS:SituationExchangeNotify"/>
  </operation>
 </portType>
 <binding name="SiriConsumerDocBinding" type="siriWS:SiriConsumerDocPort">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="NotifySubscriptionTerminated">
   <soap:operation soapAction="NotifySubscriptionTerminated"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifyDataReady">
   <soap:operation soapAction="NotifyDataReady"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifyHeartbeat">
   <soap:operation soapAction="NotifyHeartbeat"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifyProductionTimetable">
   <soap:operation soapAction="GetProductionTimetable"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifyEstimatedTimetable">
   <soap:operation soapAction="GetEstimatedTimetable"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifyStopTimetable">
   <soap:operation soapAction="GetStopTimetable"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifyStopMonitoring">
   <soap:operation soapAction="GetStopMonitoring"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifyVehicleMonitoring">
   <soap:operation soapAction="GetVehicleMonitoring"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifyConnectionTimetable">
   <soap:operation soapAction="GetConnectionTimetable"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifyConnectionMonitoring">
   <soap:operation soapAction="GetConnectionMonitoring"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifyGeneralMessage">
   <soap:operation soapAction="GetGeneralMessage"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifyFacilityMonitoring">
   <soap:operation soapAction="GetFacilityMonitoring"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
  <operation name="NotifySituationExchange">
   <soap:operation soapAction="GetSituationExchange"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
 </binding>
 <service name="SiriConsumerDocServices">
  <port name="SiriWSPort" binding="siriWS:SiriConsumerDocBinding">
   <soap:address location="http://www.siri-service-location.com"/>
  </port>
 </service>
</definitions>
