xsd/siri_wsConsumer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ======== All the structures are comming from siri.xsd ========= -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:siriWS="http://wsdl.siri.org.uk" xmlns:siri="http://www.siri.org.uk/siri" xmlns:ns="http://datex2.eu/schema/2_0RC1/2_0" xmlns:ns1="http://www.ifopt.org.uk/acsb" xmlns:ns2="http://www.ifopt.org.uk/ifopt" targetNamespace="http://wsdl.siri.org.uk">
 <types>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siri.org.uk/siri">
   <xsd:include schemaLocation="siri.xsd"/>
  </xsd:schema>
 </types>
 <message name="HeartbeatNotify">
  <part name="HeartbeatNotifyInfo" type="siri:ProducerRequestEndpointStructure"/>
  <part name="Notification" type="siri:CheckStatusResponseBodyStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="DataReadyNotify">
  <part name="Notification" type="siri:DataReadyRequestStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="SubscriptionTerminatedNotify">
  <part name="Notification" type="siri:SubscriptionTerminatedNotificationStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="ProductionTimetableNotify">
  <part name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure"/>
  <part name="Notification" type="siri:ProductionTimetableDeliveriesStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="EstimatedTimetableNotify">
  <part name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure"/>
  <part name="Notification" type="siri:EstimatedTimetableDeliveriesStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="StopTimetableNotify">
  <part name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure"/>
  <part name="Notification" type="siri:StopTimetableDeliveriesStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="StopMonitoringNotify">
  <part name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure"/>
  <part name="Notification" type="siri:StopMonitoringDeliveriesStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="VehicleMonitoringNotify">
  <part name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure"/>
  <part name="Notification" type="siri:VehicleMonitoringDeliveriesStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="ConnectionTimetableNotify">
  <part name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure"/>
  <part name="Notification" type="siri:ConnectionTimetableDeliveriesStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="ConnectionMonitoringNotify">
  <part name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure"/>
  <part name="Notification" type="siri:ConnectionMonitoringDeliveriesStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="GeneralMessageNotify">
  <part name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure"/>
  <part name="Notification" type="siri:GeneralMessageDeliveriesStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="FacilityMonitoringNotify">
  <part name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure"/>
  <part name="Notification" type="siri:FacilityMonitoringDeliveriesStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <message name="SituationExchangeNotify">
  <part name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure"/>
  <part name="Notification" type="siri:SituationExchangeDeliveriesStructure"/>
  <part name="SiriExtension" type="siri:ExtensionsStructure"/>
 </message>
 <portType name="SiriConsumerRpcPort">
  <operation name="NotifyDataReady">
   <input message="siriWS:DataReadyNotify"/>
  </operation>
  <operation name="NotifyHeartbeat">
   <input message="siriWS:HeartbeatNotify"/>
  </operation>
  <operation name="NotifySubscriptionTerminated">
   <input message="siriWS:SubscriptionTerminatedNotify"/>
  </operation>
  <!-- == Service Specific == -->
  <operation name="NotifyProductionTimetable">
   <input message="siriWS:ProductionTimetableNotify"/>
  </operation>
  <operation name="NotifyEstimatedTimetable">
   <input message="siriWS:EstimatedTimetableNotify"/>
  </operation>
  <operation name="NotifyStopTimetable">
   <input message="siriWS:StopTimetableNotify"/>
  </operation>
  <operation name="NotifyStopMonitoring">
   <input message="siriWS:StopMonitoringNotify"/>
  </operation>
  <operation name="NotifyVehicleMonitoring">
   <input message="siriWS:VehicleMonitoringNotify"/>
  </operation>
  <operation name="NotifyConnectionTimetable">
   <input message="siriWS:ConnectionTimetableNotify"/>
  </operation>
  <operation name="NotifyConnectionMonitoring">
   <input message="siriWS:ConnectionMonitoringNotify"/>
  </operation>
  <operation name="NotifyGeneralMessage">
   <input message="siriWS:GeneralMessageNotify"/>
  </operation>
  <operation name="NotifyFacilityMonitoring">
   <input message="siriWS:FacilityMonitoringNotify"/>
  </operation>
  <operation name="NotifySituationExchange">
   <input message="siriWS:SituationExchangeNotify"/>
  </operation>
 </portType>
 <binding name="SiriConsumerRpcBinding" type="siriWS:SiriConsumerRpcPort">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="NotifyDataReady">
   <soap:operation soapAction="NotifyDataReady"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifyHeartbeat">
   <soap:operation soapAction="NotifyHeartbeat"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifySubscriptionTerminated">
   <soap:operation soapAction="NotifySubscriptionTerminate"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifyProductionTimetable">
   <soap:operation soapAction="GetProductionTimetable"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifyEstimatedTimetable">
   <soap:operation soapAction="GetEstimatedTimetable"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifyStopTimetable">
   <soap:operation soapAction="GetStopTimetable"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifyStopMonitoring">
   <soap:operation soapAction="GetStopMonitoring"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifyVehicleMonitoring">
   <soap:operation soapAction="GetVehicleMonitoring"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifyConnectionTimetable">
   <soap:operation soapAction="GetConnectionTimetable"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifyConnectionMonitoring">
   <soap:operation soapAction="GetConnectionMonitoring"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifyGeneralMessage">
   <soap:operation soapAction="GetGeneralMessage"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifyFacilityMonitoring">
   <soap:operation soapAction="GetFacilityMonitoring"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
  <operation name="NotifySituationExchange">
   <soap:operation soapAction="GetSituationExchange"/>
   <input>
    <soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
   </input>
  </operation>
 </binding>
 <service name="SiriConsumerRpcServices">
  <port name="SiriWSPort" binding="siriWS:SiriConsumerRpcBinding">
   <soap:address location="http://www.siri-service-location.com"/>
  </port>
 </service>
</definitions>
