xsd/siri_wsProducer-WSDL2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Christophe Duquesne (DRYADE SA) -->
<!-- edited with XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com) by Christophe Duquesne (Dryade) -->
<description xmlns="http://www.w3.org/ns/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:siriWS="http://wsdl.siri.org.uk" xmlns:siri="http://www.siri.org.uk/siri" xmlns:ns="http://datex2.eu/schema/1_0/1_0" xmlns:ns1="http://www.ifopt.org.uk/acsb" xmlns:ns2="http://www.ifopt.org.uk/ifopt" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" targetNamespace="http://wsdl.siri.org.uk">
 <!--
<xsd:annotation>
		<xsd:appinfo xmlns:gms="http://www.govtalk.gov.uk/CM/gms">
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne, Aurige, Guyancourt FRANCE</Contributor>
				<Contributor>Michel Etienne, Cityway, Paris FRANCE</Contributor>
				<Contributor>Robin Vettier, RATP, Paris FRANCE</Contributor>
				<Contributor>Nicholas Knowles, KIZOOM LTD., London EC4A 1LT</Contributor>				<Coverage>Europe</Coverage>
				<Creator>Drafted for version 1.0, by  Cen TC278 WG3 SG7 Christophe Duquesne DRYADE SA mailto:schemer@siri.org.uk</Creator>
				<Date>
					<Created>2005-03-01</Created>
				</Date>
				<Date>
					<Modified>2005-05-11</Modified>
				</Date>
				<Date>
					<Modified>2007-01-30</Modified>
				</Date>
				<Date>
					<Modified>2008-03-11</Modified>
				</Date>
				<Date>
					<Modified>2007-04-17</Modified>
					Name Space changes 
				</Date>
			  <Date>
					<Modified>2008-02-12</Modified>
					Situation  Exchange
				</Date>
			  <Date>
					<Modified>2011-11-21</Modified>
					 switch from rpc to documment mode
					the two modes give sames XML messages
				</Date>
				<Description>
					<p>SIRI is a European CEN standard for the exchange of real time information. This describes WSDL Server binding</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.siri.org.uk/schemas/1.3/siri}siri_wsProducer.wsdl</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Rights>Unclassified
                             <Copyright>CEN, VDV, RTIG 2005, 2007</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>SIRI is derived from the VDV, RTIGXML and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
 Air transport, Airports,
 Ports and maritime transport, Ferries (marine),
 Public transport, Bus services, Coach services, Bus stops and stations,
 Rail transport, Railway stations and track, Train services, Underground trains,
 Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
 Rail transport, Roads and road transport
 </Category>
					<Project>Cen TC278 WG3 SG7</Project>
				</Subject>
				<Title>SIRI XML schema. WSDL 2.0 Server binding. </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>	
-->
 <!-- ======== All the structures are comming from siri.xsd ========= -->
 <!-- ======== Descritions of request parameters (requests and answers) ========= -->
 <!-- ========Service Requests ========= -->
 <!-- ========Production Tiemtable== -->
 <!-- ====Estimated Timetable== -->
 <!-- ====Stop Timetable== -->
 <!-- ====StopMonitoring== -->
 <!-- ====Vehicle Monitoring== -->
 <!-- ====Connection Timetable== -->
 <!-- ====Connection Monitoring== -->
 <!-- ====General Message== -->
 <!-- ====Capabilities management ======= -->
 <types>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsdl.siri.org.uk">
   <xsd:include schemaLocation="wsdl_model/siri_wsProducer-Framework.xsd"/>
   <xsd:include schemaLocation="wsdl_model/siri_wsProducer-DiscoveryCapability.xsd"/>
   <xsd:include schemaLocation="wsdl_model/siri_wsProducer-Services.xsd"/>
  </xsd:schema>
 </types>
 <interface name="SiriProducerWsdl2Port">
  <!-- ====PORTS ================================================================================== -->
  <operation name="Subscribe" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:Subscribe"/>
   <output element="siriWS:SubscribeResponse"/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation name="DeleteSubscription" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:DeleteSubscription"/>
   <output element="siriWS:DeleteSubscriptionResponse"/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation name="DataSupply" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:DataSupply"/>
   <output element="siriWS:DataSupplyResponse"/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation name="CheckStatus" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:CheckStatus"/>
   <output element="siriWS:CheckStatusResponse"/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation name="GetProductionTimetable" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:GetProductionTimetable"/>
   <output element="siriWS:GetProductionTimetableResponse"/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation name="GetEstimatedTimetable" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:GetEstimatedTimetable"/>
   <output element="siriWS:GetEstimatedTimetableResponse"/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation name="GetStopTimetable" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:GetStopTimetable"/>
   <output element="siriWS:GetStopTimetableResponse"/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation name="GetStopMonitoring" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:GetStopMonitoring"/>
   <output element="siriWS:GetStopMonitoringResponse"/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation name="GetMultipleStopMonitoring" pattern="http://www.w3.org/ns/wsdl/in-out">
   <documentation>GetMultipleStopMonitoring deprecated from Siri 2.0 (use GetSiriService instead)</documentation>
   <input element="siriWS:GetMultipleStopMonitoring"/>
   <output element="siriWS:GetMultipleStopMonitoringResponse"/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation name="GetVehicleMonitoring" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:GetVehicleMonitoring"/>
   <output element="siriWS:GetVehicleMonitoringResponse"/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation name="GetConnectionTimetable" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:GetConnectionTimetable"/>
   <output element="siriWS:GetConnectionTimetableResponse"/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation name="GetConnectionMonitoring" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:GetConnectionMonitoring"/>
   <output element="siriWS:GetConnectionMonitoringResponse"/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation name="GetGeneralMessage" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:GetGeneralMessage"/>
   <output element="siriWS:GetGeneralMessageResponse"/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation name="GetFacilityMonitoring" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:GetFacilityMonitoring"/>
   <output element="siriWS:GetFacilityMonitoringResponse"/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation name="GetSituationExchange" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:GetSituationExchange"/>
   <output element="siriWS:GetSituationExchangeResponse"/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation name="GetCapabilities" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:GetCapabilities"/>
   <output element="siriWS:GetCapabilitiesResponse"/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation name="StopPointsDiscovery" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:StopPointsDiscovery"/>
   <output element="siriWS:StopPointsDiscoveryResponse"/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation name="LinesDiscovery" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:LinesDiscovery"/>
   <output element="siriWS:LinesDiscoveryResponse"/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation name="ConnectionLinksDiscovery" pattern="http://www.w3.org/ns/wsdl/in-out">
   <input element="siriWS:ConnectionLinksDiscovery"/>
   <output element="siriWS:ConnectionLinksDiscoveryResponse"/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <!-- SIRI 2.x addition : global SIRI service access (access to any SIRI services) -->
  <operation name="GetSiriService" pattern="http://www.w3.org/ns/wsdl/in-out">
   <documentation>SIRI 2.x : Single access to any SIRI Service</documentation>
   <input element="siriWS:GetSiriService"/>
   <output element="siriWS:GetSiriServiceResponse"/>
  </operation>
  <fault name="FaultName" element="siriWS:WSErrorConditionElement"/>
  <fault name="DeliveryFault" element="siriWS:WSServiceDeliveryErrorConditionElement"/>
 </interface>
 <binding name="SiriProducerWsdl2Binding" interface="siriWS:SiriProducerWsdl2Port" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.1" wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
  <!-- ====BINDINGS  ================================================================================== -->
  <!-- ====general  services ===== -->
  <operation ref="siriWS:Subscribe">
   <input/>
   <output/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation ref="siriWS:DeleteSubscription">
   <input/>
   <output/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation ref="siriWS:DataSupply">
   <input/>
   <output/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation ref="siriWS:CheckStatus">
   <input/>
   <output/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <!-- ====SIRI services ===== -->
  <operation ref="siriWS:GetProductionTimetable">
   <input/>
   <output/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation ref="siriWS:GetEstimatedTimetable">
   <input/>
   <output/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation ref="siriWS:GetStopTimetable">
   <input/>
   <output/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation ref="siriWS:GetStopMonitoring">
   <input/>
   <output/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation ref="siriWS:GetMultipleStopMonitoring">
   <input/>
   <output/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation ref="siriWS:GetVehicleMonitoring">
   <input/>
   <output/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation ref="siriWS:GetConnectionTimetable">
   <input/>
   <output/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation ref="siriWS:GetConnectionMonitoring">
   <input/>
   <output/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation ref="siriWS:GetGeneralMessage">
   <input/>
   <output/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation ref="siriWS:GetFacilityMonitoring">
   <input/>
   <output/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation ref="siriWS:GetSituationExchange">
   <input/>
   <output/>
   <outfault ref="siriWS:DeliveryFault"/>
  </operation>
  <operation ref="siriWS:GetCapabilities">
   <input/>
   <output/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <!-- ====Access to any Siri Service (from 2.0) ===== -->
  <operation ref="siriWS:GetSiriService">
   <input/>
   <output/>
  </operation>
  <!-- ====Discovery  services ===== -->
  <operation ref="siriWS:StopPointsDiscovery">
   <input/>
   <output/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation ref="siriWS:LinesDiscovery">
   <input/>
   <output/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <operation ref="siriWS:ConnectionLinksDiscovery">
   <input/>
   <output/>
   <outfault ref="siriWS:FaultName"/>
  </operation>
  <fault ref="siriWS:FaultName"/>
  <fault ref="siriWS:DeliveryFault"/>
 </binding>
 <service name="SiriProducerWsdl2Services" interface="siriWS:SiriProducerWsdl2Port">
  <endpoint name="SiriWSPort" binding="siriWS:SiriProducerWsdl2Binding" address="http://www.siri-service-location.com"/>
 </service>
</description>
